body {
    background-image: url(https://cdn.pixabay.com/photo/2020/01/02/10/15/background-image-4735444_1280.png);
    background-size: cover;
}

.wrapper {
    background-color: white;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    width: 450px;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.form {
    margin: 0 auto;
    width: 75%;
    height: 95%;
}

#input_login, #input_password, #input_firstname, 
    #input_lastname, #input_email {
    outline: none;
    width: 300px;
    height: 25px;
    text-align: center;
    border-radius: 10px 10px 10px 10px; 
    background-color: rgb(245, 245, 245);
}

.input:focus { 
    transition: .2s;
    background-color: white;
}

.label {
    margin: 0;
    margin-top: 15px;
}

.button {   
    transition: .2s;
    width: 70px;
    height: 30px;
    box-shadow: 0 5px rgb(196, 196, 196);
    border-radius: 10px 10px 10px 10px; 
    background-color: rgb(245, 245, 245);
    margin-bottom: 25px;
    margin-right: 10px;
    margin-top: 25px;
}

.button:hover {
    width: 225px;
    transition: .2s;
    background-color: white;
}

.button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.google_logo:hover {
    transition: .1s;
    width: 110px;
    height: 35px;
    background-image: url("Google.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #212121;
    cursor: pointer;
}

.google_button {
    transition: .2s;
    width: 70px;
    height: 30px;
    box-shadow: 0 5px rgb(196, 196, 196);
    border-radius: 10px 10px 10px 10px; 
    background-color: rgb(245, 245, 245);
    margin-bottom: 25px;
    margin-top: 25px;
}

.google_button:hover {
    width: 225px;
    transition: .2s;
    background-color: white;
}

.google_button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}